<div class="container mt-4">

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bautismo</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/bautismo.png" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Primera Comunión</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/primera-comunion.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Confirmación</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/confirmacion.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>

  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Reconciliación</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/reconciliacion.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Uncion de los enfermos</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/uncion-enfermos.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Matrimonio</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/matrimonio.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
    </div>

  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Orden Sacerdotal</h4>
        </div>
        <div class="card-body">
          <img src="../../../../assets/images/orden-sacerdotal.jpg" class="img-fluid mb-2 rounded-4" alt="Bautismo">
        </div>
      </div>
  </div>



</div>
